$borderWidth: .3rem;
$smallBorderWidth: $borderWidth * 2 / 3;

@keyframes buttonFocus
    to
        color: $white;
        background-color: $black;

.button
    display: block;
    font-family: $fontTitle;
    position: relative;
    color: inherit;
    background-color: $black;
    cursor: $cursorPointer !important;

    &--inline
        display: inline-block;
    
    &:focus
        outline: 0;
        
        .button__inner
            animation: 150ms buttonFocus ease-in 2 alternate;
        
    &--reseted, &:active
        .button__inner
            top: 0 !important;
            left: 0 !important;
            box-shadow: none !important;
    
    &[type='submit']
        border: none !important;
        font-family: $fontTitle !important;
        font: inherit;
        padding: 0;

    &__inner
        display: block;
        user-select: none;
        box-shadow: $shadowSmall;
        z-index: 20;
        left: $borderWidth;
        top: -$borderWidth;
        position: relative;
        border: 4px solid $black;
        padding: .5em 1em;
        color: $black;
        text-transform: uppercase;
        background-color: invert($black);
        transition: top 150ms ease, left 150ms ease, box-shadow 150ms ease;
        
    *
        cursor: $cursorPointer !important;
