.form
    &--inline
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        .form__control
            flex: 0 1 auto;
            margin-left: 0;
            ~ .form__control
                margin-left: 1.5rem;

        .form__control, [type='submit']
            @media screen and (min-width: $breakpoint)
                margin-top: 0;
    
        [type='submit']
            flex-shrink: 0;
    
    &__control, [type='submit']
        @media screen and (min-width: $breakpoint)
            margin-top: 0;
        margin-top: 2rem;

    &__control
        text-transform: uppercase;
        background-color: rgba($black, .02);
        border: none;
        font-family: $fontTitle;
        transition: background-color 1s ease, border-color 1s ease;
        resize: none;
        border-bottom: 2px solid $black;
        padding: 0 0.25rem;

        &:focus
            background-color: transparent;
            border-bottom-color: transparent;
            outline: none;

        &--text
            cursor: $cursorText !important;
            text-align: center;
            height: 1em;

            &::placeholder
                text-align: center;
                color: transparentize($white, .1);