.table
	background-color: $white; 
	display: flex;
	flex-direction: column;

	> *
		flex: 0 0 auto;
	
	&__head
		display: flex;
		justify-content: stretch;
		border: $borderDefault;

		+ .table__table
			border-top: none;
		
		> *
			flex: 1 1;
			padding: .5em;

			&:first-child
				flex-grow: 2;

	&__table
		overflow-y: auto;
		border: $borderDefault;
		flex-shrink: 1;

		table
			width: 100%
		
		tr
			display: flex;
			justify-content: stretch;

		th, td
			flex: 1 1;
			padding: .5em;

			&:first-child
				flex-grow: 2;

		tr:nth-child(odd)
			background-color: darken($white, 2);
