@import "../../node_modules/emojify.js/dist/css/basic/emojify.min.css"

@import "./includes/variables"

@import "./component/button"
@import "./component/form"
@import "./component/table"
@import "./pattern/logo"
@import "./pattern/navigation"
@import "./pattern/timer"
@import "./pattern/item"
@import "./pattern/leaderboard"

body
    font-family: $fontMain;
    margin: 0;
    overflow: hidden;
    cursor: $cursorDefault;

a
    text-decoration: none;

.emoji
    width: 1em;
    height: 1em;
    margin-bottom: 0;

.text
    &--highlight
        position: relative;
        transform: perspective( 45em ) rotateY( 26deg );

        &:nth-child(even)
            transform: perspective( 45em ) rotateY( -10deg );

        > *
            &:first-child
                box-shadow: $shadowSmall;
                position: absolute;
                top: 0.8em;
                left: -2%;
                display: block;
                width: 100%;
                height: 0.45em;
                background-color: transparentize(lighten($black, 15%), 0.2);

            &:last-child
                position: relative;


.border_container
    &__svg
        overflow: visible;
        box-sizing: border-box;
        padding: $articlePadding;
    
    &__svg
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

    &__shadow
        position: absolute;
        z-index: -1;
        top: $articlePadding + .75rem;
        bottom: $articlePadding + .75rem;
        left: $articlePadding + .75rem;
        right: $articlePadding + .75rem;
        box-shadow: $shadowLarge;

    &__object
        pointer-events: none;
        &--blend
            mix-blend-mode: overlay;
        &--animation
            opacity: 0;

.page-transition
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;

article
    > :not(.border_container)
        position: relative;
        display: flex;
        padding: $articlePadding;
        box-sizing: border-box;
        height: 100vh;
        overflow: hidden;

@keyframes home__rules_1
    0%
        transform: translate(0) perspective( 45em ) rotateY( 26deg );

    100%
        transform: translate(.5em, -0.7em) perspective( 45em ) rotateY( 26deg );

@keyframes home__rules_2
    0%
        transform: translate(0) perspective( 45em ) rotateY( -10deg );

    100%
        transform: translate(.3em, -0.5em) perspective( 45em ) rotateY( -10deg );

.home
    > :not(.border_container)
        pointer-events: none;
    
    &__content
        position: absolute;
        bottom: $articlePadding;
        left: 0;
        right: 0;
        padding: 0 $articlePadding;
        box-sizing: border-box;
        
        > *
            padding: 0 1.5em;
            margin: 3rem 0;
            
            &:first-child
                margin-top: 0;
    &__rules
        @media screen and (min-width: $breakpoint)
            display: block;
        display: none;
        font-size: 1.4em;
        color: $white;

        > *
            position: relative;
            margin-bottom: .3em;
            display: inline-block;
            margin-left: 32%;
            animation: 7s infinite home__rules_1 alternate linear;

            &:last-child
                margin-left: 50%;
                margin-bottom: 0;
                animation-name: home__rules_2;

    &__actions
        display: flex;
        justify-content: center;
        
        .button
            pointer-events: all;
            &__inner
                transition-duration: 333ms, 333ms, 333ms;

.game
    > :not(.border_container)
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;

    &__item
        flex-grow: 1;
        box-sizing: border-box;

    &__score
        position: absolute;
        top: $articlePadding;
        right: $articlePadding;
        font-size: 1.33rem;
        font-family: $fontSecond;

    &__navigation
        @media screen and (min-width: $breakpoint)
            display: block;
        display: none;
        position: absolute;
        right: $articlePadding + $smallArticlePadding;
        bottom: $articlePadding + $smallArticlePadding / 2;

.result
    > :not(.border_container)
        @media screen and (min-width: $breakpoint)
            flex-direction: row;
            align-items: center;
        flex-direction: column;    
        justify-content: space-around;

        > *
            @media screen and (min-width: $breakpoint)
                height: 80%;
                width: auto;
                margin: auto;
                flex-grow: 1;
                padding: 0 2rem;
                justify-content: flex-start;
            display: flex;
            padding: 2rem 0;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            flex: 0 1 50%;
            width: 80%;

    &__leaderboard_add
        font-size: 1.1em;
        color: $white;

        .leaderboard__add
            font-size: .85em;
            height: 1.5em;

        .text--highlight
            transform: perspective( 86em ) rotateY( 22deg );

    &__socialshare
        @media screen and (min-width: $breakpoint)
            margin-top: 4rem;
        margin-top: 2rem;
        font-size: 1.1em;
        color: $white;

        .socialshare
            @media screen and (min-width: $breakpoint)
                margin-top: 1.5rem;
            margin-top: 1rem;
            display: flex;
            font-size: .85em;

            &__item
                margin-left: 1rem;
                &:first-child
                    margin-left: 0;

        .text--highlight
            transform: perspective( 86em ) rotateY( -10deg );
