@keyframes success
    0%
        background-color: $white;
    50%
        background-color: $green;
    100%
        background-color: $white;

@keyframes fail
    0%
        background-color: $white;
    50% 
        background-color: $red;
    100%
        background-color: $white;

.item
    @media screen and (min-width: $breakpoint)
        flex-direction: row;

    display: flex;
    font-family: $fontTitle;
    overflow: hidden;
    justify-content: space-between;
    flex-direction: column;


    &__background
        .item--success &
            animation: success $responseDuration 3;
        .item--fail &
            animation: fail $responseDuration 3;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    
    &__section
        position: relative;
        display: flex;
        padding: 2em 0;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        flex: 0 0 50%;
    
    &__question
        font-size: 3rem;
        text-transform: uppercase;
    
    &__response
        textarea
            margin: 0 auto !important;
            width: 80% !important;
            max-width: 100%;
            resize: none;
            font-size: 3rem;
            overflow: hidden;
