.leaderboard
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__table
    	.table
    		&__head
    			font-family: $fontTitle;
    		&__table td:last-child
    			font-family: $fontTitle;


    &__add
        margin-top: 2em;

        .form__control
            font-size: 1.5em;