@keyframes image-anim
    from
        transform: scale(1) translateY(0);
    to
        transform: scale(-1, 1) translateY(-25%);


$shadowWidth: .03em;

.logo
    &__image
        display: block;
        user-select: none;
        animation: image-anim 1250ms alternate linear infinite
