@keyframes timer__counter
	0%
		opacity: 0;
	33%
		opacity: 1;
	100%
		opacity: 0;
		font-size: 70em;

.timer
	&--endCountdown
		.timer
			&__counter
				background-color: transparent;
				border: none;
	
	&__background
		pointer-events: none;
		position: absolute;
		top: 0;
		bottom: 0;
		background-color: transparentize($black, .9);
		width: 0%;
		left: 0;
		z-index: -1;

	&__counter
		font-family: $fontTitle;
		position: absolute;
		pointer-events: none;
		display: flex;
		margin: 1rem;
		justify-content: center;
		align-items: center;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 20;
		animation: timer__counter 1000ms ease-in-out infinite;

