$fontMain: 'Montserrat', Source Sans Pro;
$fontTitle: Arial Black, arial;
$fontSpecial: "Wireframe", arial;
$fontSecond: arial;

$breakpoint: 600px;

$black: rgba(#000000, 1);
$white: rgba(#FFFFFF, 1);
$red: rgba(#C0392B, 1);
$purple: rgba(#DCC6E0, 1);
$green: rgba(#1ABC9C, 1);
$turquoise: rgba(#A2DED0, 1);

$articlePadding: 7.5rem;
$smallArticlePadding: 3rem;
$changeSlideDuration: 1s;
$responseDuration: 300ms;

$shadowColor: transparentize($black, .8);
$shadowX: 0px;
$shadowY: 2px;
$shadowBlurSmall: 6px; 
$shadowSpreadSmall: 2px;
$shadowBlur: 18px; 
$shadowSpread: 12px;

$shadowSmall: $shadowX $shadowY $shadowBlurSmall $shadowSpreadSmall $shadowColor;
$shadowLarge: $shadowX $shadowY $shadowBlur $shadowSpread $shadowColor;

$cursorDefault: url("../images/cursor/cursor.svg") 24 17, auto;
$cursorPointer: url("../images/cursor/pointinghand.svg") 32 21, pointer;
$cursorText: url("../images/cursor/text.svg") 32 21, text;

$borderDefault: 2px solid $black;